@import 'config';

article.ps-app {
    font-family: 'Roboto', Arial;
    font-weight: medium;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.01em;
    width: 100%;
    height: 100%;
    color: $text-color;
    background-color: $bg-light-color;
    @media (max-width: $media-mobile-width), (max-width: 700px) and (orientation: landscape) {
        background-color: $bg-dark-color;
    }
    article.top {
        height: 100%;
        margin: auto;
        @media (min-width: 1280px) {
          margin-left: 20px;
          margin-right: 20px;
        }
        @media (max-width: $media-mobile-width), (max-width: 700px) and (orientation: landscape) {
            width: auto;
        }
        header {
            padding: 15px 10px;
            @media (max-width: $media-mobile-width), (max-width: 700px) and (orientation: landscape) {
                padding: 15px 5px;
            }
        }
        main {
            text-align: center;
            @media (max-height: 800px) {
              overflow: auto;
            }
            padding: 60px 0;
            @media (max-width: $media-mobile-width), (max-width: 700px) and (orientation: landscape) {
                padding: 0;
            }
          @media (max-width: 700px) and (orientation: landscape){
            padding: 0;

          }
        }
        article.left {
            width: 80%;
            float: left;
            @media (max-width: $media-mobile-width), (max-width: 700px) and (orientation: landscape) {
                width: auto;
                float: none;
                background-color: $bg-dark-color;
            }
          @media (min-width: $media-mobile-width) and (max-width: $media-tablet-width) and (orientation: portrait){
              width: 72%;
          }
        }
        aside {
            float: right;
            width: 19%;
            @media (max-width: $media-mobile-width) {
                width: 100%;
                float: none;
                position: absolute;
                bottom: 0;
                background-color: $bg-dark-color;
                z-index: 10;
            }
          @media (max-width: 700px) and (orientation: landscape) {
                width: 12%;
                float: right;
                position: absolute;
                bottom: 0;
                background-color: #262626;
                z-index: 10;
                right: 0;
                height: 42%;
          }
            @media (min-width: $media-mobile-width) and (max-width: $media-tablet-width) and (orientation: portrait) {
                width: 28%;
            }

        }
        &.left-menu-more {
            article.left {
                width: 70%;
                @media (max-width: $media-tablet-width) {
                    width: auto;
                }
            }
            aside {
                width: 29%;
                @media (max-width: $media-mobile-width), (max-width: 700px) and (orientation: landscape) {
                    width: 100%;
                }
                @media (min-width: $media-mobile-width) and (max-width: $media-tablet-width){
                  position: fixed;
                  right: 0px;
                  background-color: $bg-dark-color;
                  height: 100%;
                  width: 315px;
                  z-index: 10;
                }
            }
        }
    }
    footer {
        clear: both;
        ps-footer {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            @media (max-width: $media-mobile-width), (max-width: 700px) and (orientation: landscape) {
                width: 0;
                position: static;
            }
            &.dark {
                background-color: $bg-dark-color;
                .head-title {
                  position: absolute;
                }
            }
        }
    }
}
