$bg-light-color: #2F2F30;
$bg-dark-color: #262626;
$bg-grey-color: #424243;
$text-color: #fff;
$text-color-alpha: rgba(255, 255, 255, 0.60);
$border-color: #484849;
$grey-color: #4d4d4d;
$blue-color: #425fdd;
$media-tablet-width: 1024px;
$media-mobile-width: 500px;

.tablet-hidden {
    @media (max-width: $media-tablet-width) {
        display: none !important;
    }
}
.mobile-hidden {
    @media (max-width: $media-mobile-width), (max-width: 700px) and (orientation: landscape) {
        display: none !important;
    }
}
.clear {
    clear: both;
}
.a-icon {
    padding-left: 30px;
    background-position: 0 50%;
    background-repeat: no-repeat;
}
a {
  text-decoration: none;
}

.button {
    border-width: 1px;
    border-style: solid;;
    border-radius: 4px;
    color: $text-color;
    text-align: center;
    line-height: 30px;
    height: 30px;
    padding: 0 15px;
    display: inline-block;
    font-size: 0.9em;
    background-repeat: no-repeat;
    &.button-small {
        line-height: 24px;
        height: 24px;
        padding: 0 10px;
        font-size: 0.85em;
        border-radius: 3px;
    }
    &.left {
        padding-left: 35px;
        background-position: 7px 50%;
    }
    &.right {
        padding-right: 35px;
        background-position: 95% 50%;
    }
    span {
        font-weight: bold;
    }
    &.button-grey {
        background-color: $grey-color;
        border-color: $grey-color;
    }
    &.button-blue {
        background-color: $blue-color;
        border-color: $blue-color;
    }
}
