@import 'config';

section.ps-photo {
    position: relative;
    //height: 450px;
    @media (max-width: $media-mobile-width), (max-width: 700px) and (orientation: landscape) {
        height: auto;
    }
    .move {
        display: inline-block;
        background-color: $bg-dark-color;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        margin: 0 20px;
        cursor: pointer;
        position: absolute;
        transform: translate(0, -50%);
        background-image: url(../../assets/icons/arrow-slider-big.png);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        @media (min-width: $media-mobile-width) {
          top: 50%;
        }
        @media (max-width: $media-mobile-width), (max-width: 700px) and (orientation: landscape) {
          position: fixed;
          bottom: 63px;
        }
        &.move-right {
            right: 0px;
        }
        &.move-left {
            transform: translate(0, -50%) rotate(180deg);
            left: 0px;
        }
    }
    .wrapper {
        display: inline-block;
        @media (min-width: $media-mobile-width) and (max-width: $media-tablet-width) and (orientation: portrait){
          width: 80%;
        }
        @media (max-width: 700px) and (orientation: landscape) {
          height: 65vh;
        }
        figure {
            margin: 0;
            background-position: 50%;
            background-repeat: no-repeat;
            border: 1px solid $border-color;
            &.zoom {
                background-size: 250%;
                transition: background-image 0.2s;
                overflow: hidden;
                cursor: move;
                @media (max-width: 700px) and (orientation: landscape) {
                    height: 100%;
                }
                img {
                    &:hover {
                      opacity: 0;
                    }
                }
            }
            img {
              display: block;
              max-width: 660px;
              @media (max-height: 769px) {
                max-height: 440px;
              }
              @media (min-height: 770px) and (max-height: 820px){
                max-height: 590px;
              }
              @media (min-height: 821px) and (max-height: 967px){
                max-height: 650px;
              }
              @media (min-width: 1300px) and (max-width: 2100px){
                max-width: 740px;
              }
              @media (min-width: 2101px) {
                max-width: 1000px;
              }
              @media (max-width: $media-mobile-width), (max-width: 700px) and (orientation: landscape) {
                  max-width: 318px;
              }
              @media (min-width: $media-mobile-width) and (max-width: $media-tablet-width){
                max-width: 100%;
              }
              @media (max-width: 700px) and (orientation: landscape) {
                max-height: 100%;
              }
            }
            &.is-zoom {
                img {
                    opacity: 0;
                }
            }
            &.figure-pin {
                position: relative;
                .put-pin {
                    position: absolute;
                    background-image: url(../../assets/icons/pin-put.png);
                    width: 12px;
                    height: 20px;
                    transform: translate(-50%, -50%);
                }
            }
        }
        image-cropper {
            padding: 0;
            ::ng-deep img {
                 display: block;
            }
        }
    }
}

section.video {
    video {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%;
        @media (max-width: $media-mobile-width), (max-width: 700px) and (orientation: landscape) {
            width: 98%;
            position: fixed;
        }
    }
}

section.audio {
    audio {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @media (max-width: $media-mobile-width), (max-width: 700px) and (orientation: landscape) {
            position: fixed;
        }
    }
  #audioplayer{
    height: 60px;
    margin: 50px auto auto auto;
  }

  #pButton{
    height:60px;
    width: 60px;
    border: solid $blue-color;
    border-radius: 50%;
    background-color: $blue-color;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
    float:left;
    outline:none;
  }

  .play {
    background-image: url('../../assets/icons/play.png') ;
  }
  .pause {
    background-image: url('../../assets/icons/pause.png') ;
  }

  #speaker {
    width: 24px;
    height: 24px;
    float: left;
    margin-top: 17px;
    margin-left: 17px;
    &.speaker {
      background-image: url('../../assets/icons/speaker.png');
    }

    &.mute{
      background-image: url('../../assets/icons/mute.png');
    }

  }

  #timeline{
    color: $text-color-alpha;
    font-size: 0.85em;
    width: 400px;
    height: 10px;
    margin-top: 25px;
    float: left;
    border-radius: 15px;
    background: $grey-color;
    margin-left: 20px;
    position: relative;
    #playheadWatch {
      border-radius: 0;
      position: absolute;
      margin-top: 0;
      height: 9px;
      background-color: $blue-color;
      border-bottom-left-radius: 15px;
      border-top-left-radius: 15px;
    }
    #playhead{
      width: 18px;
      height: 18px;
      border-radius: 50%;
      margin-top: -4px;
      background: #ffffff;
      position: absolute;
    }
    #elapsedTime {
      display: inline-block;
      float: left;
      margin-top: 13px;
    }
    #totalTime {
      display: inline-block;
      float: right;
      margin-top: 13px;
    }
  }

  #volume_control {
    width: 100px;
    height: 10px;
    margin-top: 25px;
    float: left;
    border-radius: 15px;
    background: $grey-color;
    margin-left: 10px;
    #rngVolume {
      width: 100%;
      height: 100%;
      //border-radius: 50%;
      //margin-top: -4px;
      background: $blue-color;
      border-bottom-left-radius: 15px;
      border-top-left-radius: 15px;
    }
  }

 /* #volume_control{
    margin:auto;
    display: inline-block;
    .slider {
      -webkit-appearance: none;
      width: 100%;
      height: 15px;
      border-radius: 5px;
      background: #d3d3d3;
      outline: none;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
    }

    .slider:hover {
      opacity: 1;
    }

    .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #4CAF50;
      cursor: pointer;
    }

    .slider::-moz-range-thumb {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #4CAF50;
      cursor: pointer;
    }


    !*Chrome*!
    //@media screen and (-webkit-min-device-pixel-ratio:0) {
    !*  input[type='range'] {
        overflow: hidden;
        width: 80px;
        -webkit-appearance: none;
      }

      input[type='range']::-webkit-slider-runnable-track {
        height: 10px;
        -webkit-appearance: none;
        margin-top: -1px;
      }

      input[type='range']::-webkit-slider-thumb {
        width: 10px;
        -webkit-appearance: none;
        height: 10px;
        cursor: ew-resize;
        background: #434343;
        box-shadow: -80px 0 0 80px $blue-color;
      }

    //}
    !** FF*!
    input[type="range"]::-moz-range-progress {
      background-color: $blue-color;
    }
    input[type="range"]::-moz-range-track {
      background-color: $grey-color;
    }
    !* IE*!
    input[type="range"]::-ms-fill-lower {
      background-color: $blue-color;
    }
    input[type="range"]::-ms-fill-upper {
      background-color: $grey-color;
    }*!
  }

  #rngVolume_label{
    vertical-align:middle;
  }

  #rngVolume{
    margin-top: 8px;vertical-align:middle;
  }*/
}
