@import 'config';

article.dialog-photo {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    background-color: $bg-grey-color;
    z-index: 9;
    cursor: pointer;
    figure {
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: contain;
        width: 99%;
        height: 99%;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: 0;
        transform: translate(-50%, -50%);
    }
}
