@import 'config';

section.ps-footer {
  @media (min-width: 1280px) {
    width: 1280px;

  }
    margin: auto;
    text-align: center;
    @media (max-width: $media-mobile-width), (max-width: 700px) and (orientation: landscape) {
        width: auto;
    }
    &.dark {
        background-color: $bg-dark-color;
    }
    .details {
        padding: 13px 0;
        height: 30px;
        background-color: $bg-light-color;
        @media (max-width: $media-mobile-width), (max-width: 700px) and (orientation: landscape) {
            padding: 0;
            height: 0;
        }
    }
    .left-details {
        float: left;
        //width: 33%;
        width: 39%;
        display: inline-block;
        text-align: left;
        .full-size {
            display: inline-block;
            padding-left: 25px;
            background-image: url(../../assets/icons/full-size.png);
            cursor: pointer;
        }
        .brightness {
            display: inline-block;
            vertical-align: middle;
            margin: 0 0 0 20px;
            .button {
                background-image: url(../../assets/icons/button-brightness.png);
                cursor: pointer;
            }
            .range-container {
                position: absolute;
                top: -10px;
                input {
                    -webkit-appearance: none;
                    width: 162px;
                    height: 10px;
                    background: $grey-color;
                    outline: none;
                    opacity: 0.7;
                    -webkit-transition: .2s;
                    transition: opacity .2s;
                }
                input:hover {
                    opacity: 1;
                }
                input::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    appearance: none;
                    width: 15px;
                    height: 15px;
                    background: $blue-color;
                    cursor: pointer;
                }
                input::-moz-range-thumb {
                    width: 15px;
                    height: 15px;
                    background: $blue-color;
                    cursor: pointer;
                }

            }
        }
    }
    .right-details {
        //float: right;
        //width: 40%;
        //text-align: right;
        float: left;
        //width: 33%;
        display: inline-block;
        .rotate {
            display: inline-block;
            vertical-align: middle;
            background-position: 0 50%;
            background-repeat: no-repeat;
            padding: 0 30px 0 22px;
            cursor: pointer;
            background-image: url(../../assets/icons/rotate.png);
        }
        .zoom {
            display: inline-block;
            vertical-align: middle;
            .zoom-icon {
                background-position: 50%;
                background-repeat: no-repeat;
                display: inline-block;
                width: 30px;
                height: 30px;
                vertical-align: middle;
                cursor: pointer;
                &.zoom-in {
                    background-image: url(../../assets/icons/zoom-in.png);
                }
                &.zoom-out {
                    background-image: url(../../assets/icons/zoom-out.png);
                }
            }
            .zoom-value {
                display: inline-block;
                vertical-align: middle;
                padding: 0 12px;
            }
        }
        .add-button {
            display: inline-block;
            vertical-align: middle;
            margin: 0 0 0 30px;
            .button {
                background-image: url(../../assets/icons/button-plus.png);
                cursor: pointer;
            }
        }
    }
    .head-title {
        //position: absolute;
        //left: 50%;
        top: 20px;
        transform: translate(-50%, 0);
        background-image: url(../../assets/icons/carousel-info.png);
        background-position: 0 40%;
        padding-left: 32px;
        @media (min-width: $media-mobile-width) {
          display: inline-block;
          //width: 12%;
          float: left;
          text-align: center;
        }
        @media (max-width: $media-mobile-width), (max-width: 700px) and (orientation: landscape) {
            position: absolute;
            left: 50%;
            transform: none;
            left: inherit;
            right: 15px;
            z-index: 9;
            &.a-icon {
              padding-left: 30px;
            }
        }
        i.fa-th {
            color: $text-color-alpha;
            vertical-align: middle;
            font-size: 1.1em;
        }
        .name {
            vertical-align: middle;
            display: inline-block;
        }
        .roll {
            vertical-align: middle;
            display: inline-block;
            width: 22px;
            height: 22px;
            padding: 0;
            margin: 0 0 0 10px;
            cursor: pointer;
            background-image: url(../../assets/icons/carousel-zwin.png);
            &.roll-out {
                background-image: url(../../assets/icons/carousel-zwin-black.png);
            }
        }
      &.a-icon {
        @media (min-width: $media-mobile-width) {
          padding-left: 21px;
        }
        @media (max-width: $media-mobile-width ) {
          position: absolute;
          text-align: right;
        }
      }
    }

    carousel {
        $mobile-width-menu: 240px;
        ::ng-deep .carousel-outer {
            position: relative;
            margin: 0 0 10px;
            width: auto;
            clear: both;
            @media (max-width: $media-mobile-width), (max-width: 700px) and (orientation: landscape) {
                position: absolute;
                top: 0;
                background: $bg-light-color;
                height: 100%;
                width: $mobile-width-menu;
                right: 0;
                padding-top: 40px;
                z-index: 12;
            }
          .wrapper {
            img {
              font-size: 0;
            }
          }
            .carousel-wrapper {
                margin: 0 35px;
                @media (max-width: $media-mobile-width), (max-width: 700px) and (orientation: landscape) {
                    margin: 0;
                    overflow: scroll;
                    height: 100%;
                }
                ul.carousel-inner {
                    @media (max-width: $media-mobile-width), (max-width: 700px) and (orientation: landscape) {
                        width: $mobile-width-menu;
                        display: block;
                    }
                    li.carousel-item {
                        @media (max-width: $media-mobile-width), (max-width: 700px) and (orientation: landscape) {
                            display: inline-block;
                            height: 108px;
                        }
                    }
                }
            }
            .controls {
               position: absolute;
               top: 50%;
               transform: translate(0, -50%);
               z-index: 100;
               width: 8px;
               height: 24px;
               @media (max-width: $media-mobile-width), (max-width: 700px) and (orientation: landscape) {
                   display: none;
               }
               &.prev {
                   right: 3px;
                   background-image: url(../../assets/icons/carousel-next.png);
                   transform: translate(0, -50%) rotate(180deg);
               }
               &.next {
                   left: 0;
                   background-image: url(../../assets/icons/carousel-next.png);
               }
           }
        }
        .wrapper {
            width: 96px;
            height: 96px;
            border: 1px solid $border-color;
            border-radius: 5px;
            margin: 0 6px;
            display: inline-block;
            &.active {
                border-color: $text-color;
            }
            figure {
                width: 84px;
                height: 84px;
                margin: 6px;
                background-position: 50%;
                background-size: cover;
                cursor: pointer;
            }
        }
    }

    .close {
        display: none;
        cursor: pointer;
        @media (max-width: $media-mobile-width), (max-width: 700px) and (orientation: landscape) {
            display: block;
            background-image: url(../../assets/icons/close.png);
            background-repeat: no-repeat;
            background-position: 100% 50%;
            padding: 0 20px 0 0;
            color: $text-color;
            margin: 10px 0 10px 0;
            text-align: right;
            position: absolute;
            top: 0;
            right: 15px;
            z-index: 15;
        }
    }
}
