@import 'config';

section.no-login {
    font-size: 0.9em;
    color: $text-color-alpha;
    .for-logged {
        padding-top: 25px;
        a {
            color: $blue-color;
            font-size: 1.1em;
            cursor: pointer;
        }
    }
}

section.errors {
    position: absolute;
    top: 40%;
    text-align: center;
    width: 100%;
    .message {
        display: inline-block;
        padding: 30px 50px;
        background-color: $grey-color;
        color: $text-color-alpha;
        font-size: 2em;
        border: 2px solid $border-color;
        opacity: 0.9;
    }
}
