@import 'config';

.menu-more {
    display: none;
}
.menu-more-show {
    display: block;
}
.menu-more-common {
    float: left;
    width: 200px;
    padding: 0 0 0 15px;
    @media (max-width: $media-mobile-width), (max-width: 700px) and (orientation: landscape) {
        width: 240px;
    }
    @media (min-width: $media-tablet-width) and (max-width: 1280px) {
      width: 130px;
    }
    .section-title {
        font-size: 1.05em;
        padding: 10px 0;
    }
}
textarea {
    border: 1px solid $bg-dark-color;
    width: 90%;
    outline: none;
}
section.ps-menu {
    float: left;
    border-left: 1px solid $border-color;
    min-height: 715px;
    @media (max-width: $media-mobile-width), (max-width: 700px) and (orientation: landscape) {
        float: none;
        min-height: inherit;
        border-left: none;
        border-top: 1px solid $border-color;
        text-align: center;
        padding: 15px 0 8px;
    }
    &.menu-more-show {
        border-right: 1px solid $border-color;
        .tab {
            @media (max-width: $media-tablet-width) {
                padding-right: 5px;
            }
            @media (max-width: $media-mobile-width), (max-width: 700px) and (orientation: landscape) {
                padding-right: 0;
            }
            span {
                @media (max-width: $media-tablet-width) {
                    display: none;
                }
                @media (max-width: $media-mobile-width), (max-width: 700px) and (orientation: landscape) {
                    display: block;
                }
            }
        }
    }
    .tab {
        padding: 5px 20px 5px 35px;
        background-repeat: no-repeat;
        background-position: 0 50%;
        border-right: 2px solid transparent;
        margin: 10px 0 10px 16px;
        height: 21px;
        display: block;
        cursor: pointer;
        @media (max-width: $media-mobile-width) {
            display: inline-block;
            width: 24%;
            position: relative;
            background-position: 50% 0;
            margin: 0;
            height: 47px;
            border: none;
            padding: 0;
        }
      @media (max-width: 700px) and (orientation: landscape) {
            display: block;
            width: 100%;
            position: relative;
            background-position: 50% 0;
            margin: 0;
            height: 47px;
            border: none;
            padding: 0;
      }
        &.info {
            background-image: url(../../assets/icons/info.png);
            &.active {
                background-image: url(../../assets/icons/info-active.png);
            }
        }
        &.select {
            background-image: url(../../assets/icons/zaznacz.png);
            &.active {
                background-image: url(../../assets/icons/zaznacz-active.png);
            }
        }
        &.addtab {
            background-image: url(../../assets/icons/zakladka.png);
            &.active {
                background-image: url(../../assets/icons/zakladka-active.png);
            }
        }
        &.collection {
            background-image: url(../../assets/icons/kolekcja.png);
            &.active {
                background-image: url(../../assets/icons/kolekcja-active.png);
            }
        }
        &.download {
            background-image: url(../../assets/icons/pobierz.png);
            &.active {
                background-image: url(../../assets/icons/pobierz-active.png);
                background-position: 0 70%;
                @media (max-width: $media-mobile-width), (max-width: 700px) and (orientation: landscape) {
                    background-position: 50% 0;
                }
            }
        }
        &.share {
            background-image: url(../../assets/icons/udostepnij.png);
            &.active {
                background-image: url(../../assets/icons/udostepnij-active.png);
            }
        }
        &.favorities {
            background-image: url(../../assets/icons/ulubione.png);
            &.added {
                background-image: url(../../assets/icons/ulubione-active.png);
            }
        }
        &.more {
            padding-top: 20px;
            background-image: url(../../assets/icons/zwin-menu.png);
        }
        &.link {
          background-image: url(../../assets/icons/link.png);
          &.active {
            background-image: url(../../assets/icons/link-active.png);
          }
        }
        &:hover, &.active  {
            border-right: 2px solid $blue-color;
            @media (max-width: $media-mobile-width), (max-width: 700px) and (orientation: landscape) {
                border: none;
            }
            span {
                color: $text-color;
            }
        }
        span {
            color: $text-color-alpha;
            font-size: 0.85em;
            @media (max-width: $media-mobile-width), (max-width: 700px) and (orientation: landscape) {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 0);
                width: 100%;
            }
        }
    }
}

section.ps-menu-more {
    @media (max-width: $media-mobile-width), (max-width: 700px) and (orientation: landscape) {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background: $bg-light-color;
    }
    .hide {
        text-align: right;
        padding: 10px;
        @media (max-width: $media-mobile-width), (max-width: 700px) and (orientation: landscape) {
        }
        a {
            background-image: url(../../assets/icons/arrow-small-right.png);
            background-position: 100% 50%;
            background-repeat: no-repeat;
            padding: 5px 22px 5px 0;
            display: inline-block;
            cursor: pointer;
            color: $text-color-alpha;
            @media (max-width: $media-mobile-width), (max-width: 700px) and (orientation: landscape) {
                background-image: url(../../assets/icons/close.png);
                text-transform: capitalize;
            }
        }
    }
}

section.menu-info {
    @extend .menu-more-common;
    .details {
        .title {
            padding: 10px 0 0;
            font-size: 0.9em;
        }
        .desc {
            font-size: 0.85em;
            color: $text-color-alpha;
        }
    }
    .error-info {
        background-image: url(../../assets/icons/error-info.png);
        background-position: 0 50%;
        background-repeat: no-repeat;
        font-weight: bold;
        color: $blue-color;
        padding: 5px 0 5px 30px;
        display: inline-block;
        font-size: 0.9em;
        margin: 15px 0 0;
        cursor: pointer;
    }
    .report-form {
        padding: 10px 0 0;
        .button {
            cursor: pointer;
        }
    }
}

section.menu-select {
    @extend .menu-more-common;
    .actions-common {
        display: inline-block;
        padding: 0 0 5px 10px;
        width: 80px;
        vertical-align: bottom;
        a {
            display: block;
            padding: 0 0 0 20px;
            background-size: auto 80%;
            background-repeat: no-repeat;
            background-position: 0 50%;
            font-size: 0.85em;
            color: $text-color-alpha;
            background-size: auto 80%;
            margin: 5px 0;
            cursor: pointer;
            &:hover {
                color: $text-color;
            }
            &.save {
                background-image: url(../../assets/icons/select-pin-grey.png);
            }
            &.remove {
                background-image: url(../../assets/icons/select-pin-grey.png);
            }
        }
    }
    .cropped-image-common {
        padding: 20px 0;
        input.cut-name {
            width: 90%;
            margin: 0 0 10px;
            border: 1px solid $bg-dark-color;
            padding: 2px;
            outline: none;
        }
        .wrapper {
            border: 1px solid #484849;
            border-radius: 5px;
            padding: 5px;
            display: inline-block;
            img {
                display: block;
                width: 90px;
            }
        }
        .actions {
            @extend .actions-common;
        }
    }
    .icons {
        border-bottom: 1px solid $border-color;
        padding: 15px 0 10px;
        a {
            display: inline-block;
            width: 33%;
            background-repeat: no-repeat;
            background-position: 50% 0;
            cursor: pointer;
            &.pin {
                background-image: url(../../assets/icons/select-pin.png);
            }
            &.select {
                background-image: url(../../assets/icons/select-select.png);
            }
            &.cut {
                background-image: url(../../assets/icons/select-cut.png);
            }
            &:hover, &.active {
                span {
                    color: $text-color;
                }
            }
            span {
                display: block;
                text-align: center;
                padding: 25px 0 0;
                font-size: 0.8em;
                color: $text-color-alpha;
            }
        }
    }
    .row-desc {
        padding: 22px 0 0;
        .title {
            padding: 0 0 0 25px;
            background-repeat: no-repeat;
            background-position: 0 50%;
            background-size: 17px;
            margin-bottom: 6px;
            font-size: 0.9em;
            &.pin {
                background-image: url(../../assets/icons/select-pin.png);
            }
            &.select {
                background-image: url(../../assets/icons/select-select.png);
            }
            &.cut {
                background-image: url(../../assets/icons/select-cut.png);
            }
        }
        .desc {
            color: $text-color-alpha;
            font-size: 0.9em;
        }
    }
    .cropped-image {
        @extend .cropped-image-common;
    }
    .pin-form {
        padding: 10px 0 0 0;
        .send-button {
            a.button {
                cursor: pointer;
            }
        }
    }
    .selected-list {
        .row-selected {
            padding: 10px 5px 10px 25px;
            background-position: 0 50%;
            background-repeat: no-repeat;
            cursor: pointer;
            &.selected-pin {
                background-image: url(../../assets/icons/select-pin-grey.png)
            }
            &.selected-cut {
                background-image: url(../../assets/icons/select-cut-grey.png)
            }
            .title {
                font-size: 0.9em;
                color: $text-color-alpha;
            }
        }
        .row-selected-hr {
            border-bottom: 1px solid $border-color;
        }
        .edited-row {
            &.edited-row-pin {
                .actions {
                    @extend .actions-common;
                    width: 90%;
                    padding: 0;
                    a {
                        display: inline-block;
                        margin: 4px 15px 5px 0;
                    }
                }
            }
            &.edited-row-cut {
                @extend .cropped-image-common;
                padding: 0;
            }
        }

    }
}

.not-logged-desc {
    font-size: 0.9em;
    color: $text-color-alpha;
    margin-top: 30px;
    padding: 0 0 0 32px;
    background-repeat: no-repeat;
    background-position: 0% 0%;
}

section.menu-tab {
    @extend .menu-more-common;
    .add-button {
        .button {
            cursor: pointer;
        }
    }
    .not-logged {
        .desc {
            @extend .not-logged-desc;
            background-image: url(../../assets/icons/zakladka-full.png);
        }
    }
}

section.menu-collection {
    @extend .menu-more-common;
    height: 90vh;
    overflow-y: auto;
    .not-logged {
        .desc {
            @extend .not-logged-desc;
            background-image: url(../../assets/icons/folder-small.png);
        }
    }
    .buttons {
        padding: 5px 0 12px;
        .button {
            float: left;
            background-image: url(../../assets/icons/folder-button.png);
            cursor: pointer;
        }
        .add-folder {
            float: right;
            display: inline-block;
            width: 26px;
            height: 26px;
            background-image: url(../../assets/icons/folder-add.png);
            cursor: pointer;
        }
    }
    ::ng-deep tree-internal ul {
        list-style-type: none;
    }
    ::ng-deep tree-internal ul.tree {
        padding: 0 0 0 25px;
        margin: 0;
    }
    ::ng-deep tree-internal ul.tree.rootless {
        padding: 0;
    }
    ::ng-deep tree-internal li {
        display: inline-block;
    }
    ::ng-deep tree-internal {
        color: $text-color-alpha;
    }
    ::ng-deep .value-container.rootless {
        display: none;
    }
    ::ng-deep .value-container.selected {
        border-bottom: 1px solid $blue-color;
    }
    ::ng-deep tree-internal .tree .folding{
        position: relative;
        height: 25px;
        display: inline-block;
        //vertical-align: middle;
        vertical-align: top;
    }
    ::ng-deep tree-internal .node-value {
        background-image: url(../../assets/icons/folder.png);
        background-repeat: no-repeat;
        background-position: 0 3px;
        //height: 20px;
        margin: 5px 0;
        padding-left: 25px;
        display: inline-block;
        vertical-align: middle;
        //white-space: nowrap;
        max-width: 100px;
        //overflow: hidden;
        word-break: break-all;
    }
    ::ng-deep tree-internal .node-name {
        font-size: 0.9em;
    }
    ::ng-deep tree-internal .folding::before {
        content: ' ';
        background-image: url(../../assets/icons/arrow-folder-transparent.png);
        width: 17px;
        height: 20px;
        position: absolute;
        left: -17px;
        background-position: 0 50%;
        background-repeat: no-repeat;
    }
    ::ng-deep tree-internal .node-expanded::before {
        content: ' ';
        background-image: url(../../assets/icons/arrow-folder-transparent.png);
        transform: rotate(-90deg);
        width: 15px;
    }

}

section.menu-download {
    @extend .menu-more-common;
    .buttons {
        padding-top: 10px;
        padding-right: 15px;
        a.button {
            margin: 2px 0 6px;
            display: block;
            text-align: left;
            background-image: url(../../assets/icons/pobierz-button.png);
            padding-left: 30px;
            background-position: 8px 50%;
            cursor: pointer;
            text-decoration: none;
        }
    }
}

section.menu-favorites {
    @extend .menu-more-common;
}

section.menu-share {
    @extend .menu-more-common;
    .options {
        text-align: center;
        padding: 15px 0 0;
        .logo {
            width: 30px;
            height: 30px;
            background-size: 100%;
            display: inline-block;
            margin: 0 10px;
            cursor: pointer;
        }
        .facebook {
            background-image: url(../../assets/logos/facebook.png);
        }
        .google {
            background-image: url(../../assets/logos/google.png);
        }
        .twitter {
            background-image: url(../../assets/logos/twitter.png);
        }
    }
}

section.menu-tags {
  @extend .menu-more-common;
  .tags-color {
    font-size: 0.9em;
    color: $text-color-alpha;
    margin-top: 30px;
    padding: 0 0 0 32px;
    .indeksy-nadane {
      margin: 5px 0;
      &:before {
        content: '\A';
        background-color: #EDF0FC;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        margin-left: -30px;
      }
    }
    .tagi-uzytkownika {
      margin: 5px 0;
      &:before {
        content: '\A';
        background-color: #f4f1e5;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        margin-left: -30px;
      }
    }
  }
}
