@import 'config';

section.ps-top {
    .back {
        display: inline-block;
        margin: 0 32px 0 0;
        .button {
            background-image: url(../../assets/icons/button-arrow.png);
            cursor: pointer;
            @media (max-width: $media-mobile-width), (max-width: 700px) and (orientation: landscape) {
                border: none;
                background-color: transparent;
                background-image: url(../../assets/icons/arrow-small-left.png);
                padding-left: 30px;
            }
        }
    }
    .title {
        display: inline-block;
        .title-grey {
            color: $text-color-alpha;
        }
        .title-white {
            font-weight: bold;
        }
        .title-separator {
            padding: 0 14px;
            height: 14px;
            width: 8px;
            display: inline-block;
            background-image: url(../../assets/icons/separator.png);
            background-repeat: no-repeat;
            background-position: 50%;
            vertical-align: middle;
        }
        @media (max-width: $media-mobile-width) {
          bottom: 100px;
            left: 0;
            text-align: center;
            position: absolute;
            width: 70%;
            left: 50%;
            transform: translate(-50%, 0%);
        }
      @media (max-width: 700px) and (orientation: landscape) {
        bottom: 10px;
        left: 0;
        text-align: center;
        position: absolute;
        width: 70%;
        left: 50%;
        transform: translate(-50%, 0%);
      }
    }
}
