<article class="ps-app" *ngIf="items">
  <article class="top" [ngClass]="{'left-menu-more': leftMenu}">
    <article class="left">
      <header>
        <ps-top [title]="items.jednostka_nazwa"></ps-top>
      </header>
      <main>
        <ps-detail [photos]="items"></ps-detail>
      </main>
    </article>
    <aside>
      <ps-manu (menuState)="onMenuState($event)"></ps-manu>
    </aside>
  </article>
  <footer>
    <ps-footer
      [ngClass]="{'dark': darkBackground}"
      (footerState)="onFooterState($event)"
      (clickedPhoto)="onClickFooterFoto($event)"
      (fullSize)="onFullSize($event)"
      (zoom)="onZoom($event)"
      [photos]="items">
    </ps-footer>
  </footer>
  <errors></errors>
</article>
