<ng-container *ngIf="photo">
  <section class="ps-photo" (mouseup)="mouseup($event)">
    <ng-container>
      <span href="javascript:;" class="move move-left" tabindex="0" aria-pressed="false"
            alt="Pokaż poprzedni dokument" title="Pokaż poprzednie zdjęcie"
            role="button" (keyup.enter)="changePhoto(-1)"
         (click)="changePhoto(-1)" *ngIf="!photosService.photoBase64 && photos.elementy.length > 1">
      </span>
      <div class="wrapper">

        <ng-container *ngIf="photo.typ=='image'">
          <ng-container *ngIf="!photosService.photoBase64 && !photosService.isPin && !photosService.showSelectedPin && !photosService.showAllPins">
            <figure class="zoom" draggable="true"
              (wheel)="scroll($event)"
              [ngClass]="{'is-zoom': zoomScale!=initialZoom}"
              [ngStyle]="{'background-size.%': zoomScale, 'filter': 'brightness('+photosService.brightness/100+')', 'transform': 'rotate('+photosService.rotate+'deg)', 'background-position': '0px 0px'}"
              [style.background-image]="photosService.imageUrl(photo.src)"
              (mousedown)="mousedown($event)"
              (mousemove)="mousemove($event)">
              <img
                  alt='{{this.altText}} "{{photos.jednostka_nazwa}}"'
                  src="{{photo.src}}"
                  draggable="false"
                  [ngStyle]="{'filter': 'brightness('+photosService.brightness/100+')'}">
            </figure>
          </ng-container>
          <ng-container *ngIf="photosService.photoBase64">
            <section class="cropper-wrapper">
              <image-cropper
                  [imageBase64] = "photosService.photoBase64"
                  [maintainAspectRatio]="false"
                  [aspectRatio]="1"
                  [resizeToWidth]="128"
                  format="jpeg"
                  (imageCroppedBase64)="imageCroppedBase64($event)"
                  (imageLoaded)="imageLoaded()"
                  (loadImageFailed)="loadImageFailed()"
                  [style.display]="cropperReady ? null : 'none'"
                  [cropper]="{x1: 0, y1: 0, x2: 100, y2: 100}"
              ></image-cropper>
            </section>
          </ng-container>

          <ng-container *ngIf="photosService.isPin && !photosService.photoBase64">
            <figure class="figure-pin"
              (click)="putPin($event)"
              [style.background-image]="photosService.imageUrl(photo.src)">
              <img alt='{{this.altText}} "{{photos.jednostka_nazwa}}"'
                src="{{photo.src}}"
                [ngStyle]="{'filter': 'brightness('+photosService.brightness/100+')'}">
              <span class="put-pin" *ngIf="photosService.pinCoordinates"
                [style.left.px]="photosService.pinCoordinates.left"
                [style.top.px]="photosService.pinCoordinates.top"
              >
              </span>
              <span class="put-pin" *ngFor="let p of photosService.pins"
                [style.left.px]="p.left"
                [style.top.px]="p.top"
              >
              </span>
            </figure>
          </ng-container>

          <ng-container *ngIf="photosService.showSelectedPin && !photosService.photoBase64 && !photosService.isPin">
            <figure class="figure-pin"
                    (click)="putPin($event)"
                    [style.background-image]="photosService.imageUrl(photo.src)">
              <img alt='{{this.altText}} "{{photos.jednostka_nazwa}}"'
                   src="{{photo.src}}"
                   [ngStyle]="{'filter': 'brightness('+photosService.brightness/100+')'}">
              <span class="put-pin" *ngIf="photosService.pinCoordinates"
                    [style.left.px]="photosService.pinCoordinates.left"
                    [style.top.px]="photosService.pinCoordinates.top"
              >
              </span>
            </figure>
          </ng-container>

          <ng-container *ngIf="photosService.showAllPins && !photosService.showSelectedPin && !photosService.photoBase64 && !photosService.isPin">
            <figure class="figure-pin"
                    (click)="putPin($event)"
                    [style.background-image]="photosService.imageUrl(photo.src)">
              <img alt='{{this.altText}} "{{photos.jednostka_nazwa}}"'
                   src="{{photo.src}}"
                   [ngStyle]="{'filter': 'brightness('+photosService.brightness/100+')'}">
              <span class="put-pin" *ngFor="let p of photosService.pins"
                    [style.left.px]="p.left"
                    [style.top.px]="p.top"
              >
              </span>
            </figure>
          </ng-container>

        </ng-container>

        <ng-container *ngIf="photo.typ=='video'">
          <section class="video">
            <video controls>
              <source src="{{photo.src}}" type="video/mp4">
              {{ 'BROWSER_NOT_SUPPORT_VIDEO' | translate }}
            </video>
          </section>
        </ng-container>
        <ng-container *ngIf="photo.typ=='audio'">
          <section class="audio">
            <audio id="player" (loadeddata)="setAudioVideo()"
                   (timeupdate)="timeUpdate()" (canplaythrough)="playThrough()">
              <source src="{{photo.src}}" type="audio/mpeg">
              {{ 'BROWSER_NOT_SUPPORT_AUDIO' | translate }}
            </audio>
            <div id="audioplayer" (mousemove)="draggableSlider($event)" (mouseup)="mouseUp($event)">
              <button id="pButton" class="play" (click)="playAudio()"></button>
              <div id="timeline" (click)="moveAudio($event)" >
                <div id="playheadWatch"></div>
                <div id="playhead" (mousedown)="mouseDown($event)" ></div>
                <div id="elapsedTime">00:00</div>
                <div id="totalTime">00:00</div>
              </div>
              <div id="speaker" class="speaker" (click)="muted()"></div>
              <div id="volume_control" (mousedown)="changeVolume()">
                <div id="rngVolume"></div>
              </div>
            </div>
          </section>
        </ng-container>

      </div>
      <span class="move move-right" tabindex="0" aria-pressed="false" role="button" (keyup.enter)="changePhoto(1)"
            alt="Pokaż następny dokument" title="Pokaż następne zdjęcie"
         (click)="changePhoto(1)" *ngIf="!photosService.photoBase64 && photos.elementy.length > 1">
      </span>
    </ng-container>
  </section>
  <photo-modal *ngIf="modalPhoto" [src]="photo.src" (click)="modalPhoto=false"></photo-modal>
</ng-container>
