<section class="ps-footer">

  <div class="details">
    <div class="left-details mobile-hidden" *ngIf="!showCarousel">
      <div class="full-size a-icon" (click)="fullSizeClick()" tabindex="0"
           aria-pressed="false" role="button" (keyup.enter)="fullSizeClick()">{{ 'PELNYEKRAN' | translate }}</div>
      <div class="brightness">
        <a href="javascript:;" type="button" class="button button-grey left" (click)="showRange = !showRange">
          <span>{{ 'USTAWIENIAJASNOSCI' | translate }}</span>
        </a>
        <div class="range-container">
          <input type="range" min="30" max="200" [value]="photosService.brightness" #ref *ngIf="showRange"
                 (change)="$event.preventDefault(); changeRange(ref.value)" (keydown.arrowleft)="$event.preventDefault();changeRange(ref.value - 1)"
                 (keydown.arrowright)="$event.preventDefault();changeRange(ref.value--1)" >
        </div>
      </div>
    </div>
    <div class="head-title a-icon">
      <span class="name" (click)="onFooter()">{{ 'SKAN' | translate }} <ng-container>{{photosService.photoOrder + 1}}</ng-container> {{ 'SKAN_Z' | translate }} <ng-container>{{photos.elementy.length}}</ng-container></span>
      <span class="roll a-icon mobile-hidden" [ngClass]="{'roll-out': showCarousel}" (click)="onFooter()"
            tabindex="0" aria-pressed="false" role="button" (keyup.enter)="onFooter()"
            attr.alt="{{showCarousel && 'Ukryj listę dokumentów' || 'Pokaż listę dokumentów'}}" title="{{showCarousel && 'Ukryj listę dokumentów' || 'Pokaż listę dokumentów'}}"></span>
    </div>
    <div class="right-details mobile-hidden" *ngIf="!showCarousel">
      <div class="rotate" (click)="rotateClick()" tabindex="0" aria-pressed="false" role="button" (keyup.enter)="rotateClick()">
        <span>{{ 'OBROC' | translate }}</span>
      </div>
      <div class="zoom">
        <span class="zoom-icon zoom-in" (click)="zoomClick(photosService.zoomStep)"
            tabindex="0" aria-pressed="false" role="button" (keyup.enter)="zoomClick(photosService.zoomStep)"></span>
        <span class="zoom-value">{{photosService.zoom}}%</span>
        <span class="zoom-icon zoom-out" (click)="zoomClick(-photosService.zoomStep)"
            tabindex="0" aria-pressed="false" role="button" (keyup.enter)="zoomClick(-photosService.zoomStep)"></span>
      </div>
      <div class="add-button">
        <a href="javascript:;" type="button" class="button button-blue right" (click)="buy()" id="dodajDoZamowienia">
          <span>{{ 'DODAJDOZAMOWIENIA' | translate }}</span>
        </a>
      </div>
    </div>
    <div class="clear"></div>
  </div>

  <carousel *ngIf="showCarousel">
    <ng-container *ngFor="let item of photos.elementy; let i = index">
      <ng-container *carouselItem>
        <div class="wrapper" *ngIf="item.src" (click)="photoClick(item.id, i)" tabindex="0"
             aria-pressed="false" role="button" (keyup.enter)="photoClick(item.id, i)"
             [ngClass]="{'active': i==photosService.photoOrder}">
          <figure [style.background-image]="photosService.imageUrl(item.src)">
            <img alt='{{this.altText}} "{{photos.jednostka_nazwa}}" {{this.altNumer}} {{i+1}}'>
          </figure>
        </div>
      </ng-container>
    </ng-container>
  </carousel>
  <div class="close" *ngIf="showCarousel" (click)="showCarousel=!showCarousel">{{ 'ZWIN' | translate }}</div>

</section>
