<section class="no-login" *ngIf="!configService.isLogged">
  <div class="for-logged">
    <div>{{ 'OPCJA_PO_ZALOGOWANIU' | translate }}</div>
    <div><a href="javascript:;" (click)="login()">{{ 'ZALOGUJ_SIE' | translate }}</a></div>
  </div>
  <div class="for-logged">
    <div>{{ 'LUB_NIE' | translate }}</div>
    <div><a href="javascript:;" (click)="register()">{{ 'ZALOZ_KONTO' | translate }}</a></div>
  </div>
</section>
