<section class="menu-more menu-more-show menu-info">
  <div class="section-title">Informacje o skanie</div>
  <div class="section-title">{{ 'INFO_O_SKANIE' | translate }}</div>
  <div class="details">
    <div class="title">{{ 'OPIS_SZCZEGOLOWY' | translate }}</div>
    <div class="desc">{{photosService.detail.opis}}</div>
  </div>
  <div class="details">
    <div class="title">{{ 'DATA_OKRES_POWSTANIA' | translate }}:</div>
    <div class="desc">{{photosService.detail.daty}}</div>
  </div>
  <div class="details">
    <div class="title">{{ 'AUTOR' | translate }}:</div>
    <div class="desc">{{photosService.detail.autor}}</div>
  </div>
  <div class="details">
    <div class="title">{{ 'PRAWA' | translate }}:</div>
    <div class="desc">{{photosService.detail.prawa}}</div>
  </div>
  <div class="report-form" *ngIf="showForm.indexOf(photosService.detail.id) != -1">
    <textarea rows="4" [(ngModel)]="reportMsg"></textarea>
    <div class="send-button">
      <a href="javascript:;" class="button button-small button-grey" (click)="report()">
        <span>{{ 'WYSLIJ' | translate }}</span>
      </a>
    </div>
  </div>
  <ng-container *ngIf="configService.isLogged">
    <a href="javascript:;" class="error-info"
      *ngIf="showReport.indexOf(photosService.detail.id) == -1 && showForm.indexOf(photosService.detail.id) == -1"
      (click)="showFormClick()">{{ 'ZGLOS_BLAD_MATERIALU' | translate }}</a>
  </ng-container>
  <!-- <a class="button button-small button-grey">
    <span>Pełen opis</span>
  </a> -->
</section>
