<ng-container *ngIf="photosService.detail">
  <section class="ps-menu" [ngClass]="{'menu-more-show': showMore}">
    <a href="javascript:;" class="tab info"
      *ngIf="photosService.detail.opis"
      (click)="showManu('info')"
      [ngClass]="{'active': showMore=='info'}"><span>{{ 'INFORMACJE' | translate }}</span>
    </a>
    <a href="javascript:;" class="tab select mobile-hidden tablet-hidden"
      *ngIf="photosService.detail.typ=='image'"
      (click)="showManu('select')"
      [ngClass]="{'active': showMore=='select'}"><span>{{ 'ZAZNACZ' | translate }}</span>
    </a>
    <a href="javascript:;" class="tab addtab mobile-hidden tablet-hidden" (click)="showManu('tab')" [ngClass]="{'active': showMore=='tab'}"><span>{{ 'ZAKLADKA' | translate }}</span></a>
    <a href="javascript:;" class="tab collection mobile-hidden tablet-hidden" (click)="showManu('collection')" [ngClass]="{'active': showMore=='collection'}"><span>{{ 'DOKOLEKCJI' | translate }}</span></a>
    <a href="javascript:;" class="tab download"
      *ngIf="photosService.detail.typ=='image'"
      (click)="showManu('download')"
      [ngClass]="{'active': showMore=='download'}"><span>{{ 'POBIERZ' | translate }}</span>
    </a>
    <a href="javascript:;" class="tab share" (click)="showManu('share')" [ngClass]="{'active': showMore=='share'}"><span>{{ 'UDOSTEPNIJ' | translate }}</span></a>
    <a href="javascript:;" class="tab favorities"
      (click)="add()"
      [ngClass]="{'added': isExist(), 'active': showMore=='favorites'}">
      <span *ngIf="!isExist()">{{ 'DOULUBIONYCH' | translate }}</span>
      <span *ngIf="isExist()">{{ 'USUN' | translate }}</span>
    </a>
    <!-- <a class="tab more"></a> -->
    <a href="javascript:;" class="tab tags"
       (click)="showManu('tags')"
       [ngClass]="{'active': showMore=='tags'}"
       *ngIf="hasObject()"><span>{{ 'TAGI' | translate }}</span>
    </a>

    <a href="javascript:;" class="tab link" (click)="showManu('link')" [ngClass]="{'active': showMore=='link'}">
      <span>{{ 'LINK' | translate }}</span>
    </a>

  </section>

  <section class="ps-menu-more" *ngIf="showMore">
    <div class="hide">
      <a href="javascript:;" (click)="showManu('hide')">{{ 'ZWIN' | translate }}</a>
    </div>
    <menu-info *ngIf="showMore=='info'"></menu-info>
    <menu-select *ngIf="showMore=='select'"></menu-select>
    <menu-tab *ngIf="showMore=='tab'"></menu-tab>
    <menu-collection *ngIf="showMore=='collection'"></menu-collection>
    <menu-download *ngIf="showMore=='download'"></menu-download>
    <menu-favorites *ngIf="showMore=='favorites'"></menu-favorites>
    <menu-share *ngIf="showMore=='share'"></menu-share>
    <menu-tags *ngIf="showMore=='tags'"></menu-tags>
    <menu-link *ngIf="showMore=='link'"></menu-link>
  </section>
<ng-container>
