<section class="menu-more menu-more-show menu-share">
  <div class="section-title">{{ 'UDOSTEPNIJ' | translate }}</div>
  <div class="options">
    <a href="javascript:;" class="logo facebook" (click)="share('facebook')"></a>
  </div>
</section>
