<section class="menu-more menu-more-show menu-select">
  <div class="section-title">{{ 'ZAZNACZENIE' | translate }} (<ng-container>{{numberPinsSelected+numberCutsSelected}}</ng-container>)</div>
  <div class="icons" *ngIf="configService.isLogged">
    <a href="javascript:;" class="pin" (click)="pin()" [ngClass]="{'active': active=='pin'}"><span>{{ 'PRZYPNIJ' | translate }}</span></a>
    <a href="javascript:;" class="cut" (click)="cut()" [ngClass]="{'active': active=='cut'}"><span>{{ 'WYTNIJ' | translate }}</span></a>
  </div>

  <login></login>

  <section class="for-logged" *ngIf="!photosService.croppedImage && !active && !photosService.pins">
    <div class="row-desc">
      <div class="title pin">{{ 'PRZYPNIJ' | translate }}</div>
      <div class="desc">{{ 'MOZESZ_PINEZKI_1' | translate }} {{ 'MOZESZ_PINEZKI_2' | translate }}</div>
    </div>
    <div class="row-desc">
      <div class="title cut">{{ 'WYTNIJ' | translate }}</div>
      <div class="desc">{{ 'MOZESZ_WYCINAC' | translate }}</div>
    </div>
  </section>

  <section class="selected-list" *ngIf="(photosService.pins || photosService.cuts) && !photosService.isPin && !photosService.croppedImage">
    <ng-container *ngFor="let p of photosService.pins">
      <div class="row-selected selected-pin" (click)="editPin(p.id)">
        <div class="title">{{p.opis}}</div>
      </div>
      <div class="edited-row edited-row-pin" *ngIf="editPinName && editPinId == p.id">
        <textarea rows="4" [(ngModel)]="editPinName"></textarea>
        <div class="actions">
          <a href="javascript:;" class="save" (click)="editPinSave(p.id)">{{ 'ZAPISZ' | translate }}</a>
          <a href="javascript:;" class="remove" (click)="editPinRemove(p.id)">{{ 'USUN' | translate }}</a>
        </div>
      </div>
      <div class="row-selected-hr"></div>
    </ng-container>
    <ng-container *ngFor="let p of photosService.cuts">
      <div class="row-selected selected-cut" (click)="editCut(p.id)">
        <div class="title">{{p.nazwaWlasna}}</div>
      </div>
      <div class="edited-row edited-row-cut" *ngIf="editCutItem && editCutItem.id == p.id">
        <input class="cut-name" type="text" [(ngModel)]="editCutItem.nazwa">
        <div class="wrapper">
          <img [src]="editCutItem.fileInBase64" />
        </div>
        <div class="actions">
          <a href="javascript:;" class="save" (click)="editCutSave(p.id)">{{ 'ZAPISZ' | translate }}</a>
          <a href="javascript:;" class="remove" (click)="editCutRemove(p.id)">{{ 'USUN' | translate }}</a>
        </div>
      </div>
      <div class="row-selected-hr"></div>
    </ng-container>
  </section>

  <div class="cropped-image" *ngIf="photosService.croppedImage">
    <input class="cut-name" type="text" [(ngModel)]="cutName">
    <div class="wrapper">
      <img [src]="photosService.croppedImage" />
    </div>
    <div class="actions">
      <a href="javascript:;" class="save" (click)="save()">{{ 'ZAPISZ' | translate }}</a>
      <a href="javascript:;" class="remove" (click)="remove()">{{ 'USUN' | translate }}</a>
    </div>
  </div>

  <div class="pin-form" *ngIf="photosService.isPin">
    <textarea rows="4" [(ngModel)]="pinName"></textarea>
    <div class="send-button">
      <a href="javascript:;" class="button button-small button-grey" (click)="savePin()">
        <span>{{ 'ZAPISZ' | translate }}</span>
      </a>
    </div>
  </div>

</section>
