<section class="menu-more menu-more-show menu-tags">

  <div class="section-title">{{ 'TAGI_DLA_OBIEKTU' | translate }}</div>

  <login></login>

  <ng-container *ngIf="configService.isLogged">
    <!--todo: input do dodawania tagow-->
   <!-- <a class="error-info"
       *ngIf="showReport.indexOf(photosService.detail.id) == -1 && showForm.indexOf(photosService.detail.id) == -1"
       (click)="showFormClick()">Zgłoś błąd materiału</a>-->
  </ng-container>

  <div class="tags-color">
    <div class="indeksy-nadane">{{ 'INDEKSY_NADANE_PRZEZ_ARCHIWA' | translate }}</div>
    <div class="tagi-uzytkownika">{{ 'TAGI_UZYTKOWNIKA' | translate }}</div>
  </div>

</section>
