<section class="menu-more menu-more-show menu-download">
  <div class="section-title">{{ 'POBIERZ_PLIK' | translate }}</div>
  <div class="buttons">
    <a type="button" class="button button-grey left" href="{{this.downloadJPEG + this.photosService.detail.id}}" >
      <span class="right">{{ 'POBIERZ_JPG' | translate }}</span>
    </a>
    <a type="button" class="button button-grey left" href="{{this.fileXml + this.photosService.detail.id}}" download>
      <span class="right">{{ 'POBIERZ_JPG_XML' | translate }}</span>
    </a>
  </div>
</section>
