<section class="menu-more menu-more-show menu-collection">
  <div class="section-title">{{ 'TWOJE_FOLDERY' | translate }}(<ng-container>{{noFolders}}</ng-container>)</div>
  <div class="not-logged" *ngIf="!configService.isLogged">
    <login></login>
    <div class="desc">{{ 'MOZESZ_FOLDERY_1' | translate }}{{ 'MOZESZ_FOLDERY_2' | translate }}
    </div>
    <div class="folders-example"></div>
  </div>
  <div class="buttons" *ngIf="configService.isLogged">
    <a href="javascript:;" class="button button-small button-grey left" *ngIf="noFolders" (click)="addScanToCollection()">
      <span>{{ 'DODAJ_DO_FOLDERU' | translate }}</span>
    </a>
    <a href="javascript:;" class="add-folder" (click)="addFolder()"></a>
    <div class="clear"></div>
  </div>
  <tree #treeComponent [tree]="tree" [settings]="treeSettings"
    (nodeSelected)="logEvent($event)"
    (nodeRenamed)="handleRenamed($event)">
  </tree>
</section>
