<section class="menu-more menu-more-show menu-tab">
  <div class="section-title">{{ 'ZAKLADKI' | translate }} (<ng-container>{{numberTabs}}</ng-container>)</div>
  <div class="add-button" *ngIf="configService.isLogged && !hasTab">
    <input class="cut-name" type="text" [(ngModel)]="tabName">
    <a href="javascript:;" class="button button-small button-grey" (click)="add()">
      <span>{{ 'DODAJ_DO_ZAKLADEK' | translate }}</span>
    </a>
  </div>
  <div class="add-button" *ngIf="hasTab">
    <a href="javascript:;" class="button button-small button-grey" (click)="remove()">
      <span>{{ 'USUN_Z_ZAKLADEK' | translate }}</span>
    </a>
  </div>
  <div class="not-logged" *ngIf="!configService.isLogged">
    <login></login>
    <div class="desc">{{ 'MENU_TAB_1' | translate }}{{ 'MENU_TAB_1_2' | translate }}<br><br>
      {{ 'MENU_TAB_2' | translate }}
    </div>
  </div>
</section>
