<section class="ps-top">
  <div class="back">
    <a href="javascript:;" type="button" class="button button-grey left" id="closeButton">
      <span class="right">{{ 'WROC' | translate }}<span class="mobile-hidden">{{ 'DO_SKANOW' | translate }}</span></span>
    </a>
  </div>
  <div class="title">
    <span class="title-grey">{{title}}</span>
    <!-- <span class="title-separator"></span>
    <span class="title-white">{{title}}</span> -->
  </div>
</section>
